.home {
  background-image: url("https://i.ytimg.com/vi/azMdEHP-FL0/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;
  opacity: 0.7;
  height: 100vh;
}
.header-color {
  background: #23074d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    grey,
    #23074d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    grey,
    #23074d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.intro-home-page {
  text-align: center;
  margin: 0px;
}
.mdl-layout__drawer {
  background: gainsboro;
}
.element {
  width: 100%;
  height: 100%;
  animation: pulse 4s infinite;
}

/* @keyframes pulse {
  from{
    width:0%;
  }
  to{
    width:100%;
  }

  0% {
    transition: all 3000ms ease;
      background-size: 100% 100%;
    background-image: linear-gradient(#84fab0 0%, #8fd3f4 100%);
  }
  25% {
    transition: all 3000ms ease;
      background-size: 100% 100%;
    background-image: linear-gradient(#84fab0 0%, #8fd3f4 100%);
  }
  50% {
    transition: all 3000ms ease;
      background-size: 100% 100%;
background-image:linear-gradient(purple 0%, pink 100%);  }
}
  100% {
    transition: all 3000ms ease;
      background-size: 100% 100%;
background-image:linear-gradient(black 0%, red 100%);  } */
